@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Check Out Available movies. Press the button called MovieApp, and find what you like.</p>
</div>
